:root {
    --LIGHT: #FFFFFF;
    --DARK: #000000;
    --PRIMARY: #083F9B;
    --SECONDARY: #7F56D9;
    --GREY: #4A4A4A;
    --BROWN: #FFB451;
    --TEXT-INPUT-COLOR: #4F547B;
    --GREEN: #D9ECFF;
    --HEADER-HEIGHT: 80px;
    --BLUE: #0E38CD;


    }

html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Righteous", serif;
    
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0px;
}

input {
    border: none;
    outline: none;
    color: var(--TEXT-INPUT-COLOR);
}

.section {
    width: 100%;
}

.container {
    width: 2705px !important;
    height: 100vh;
    /* Full viewport height for scrollable content */
    overflow-y: auto;
}

@media (min-width: 1536px) {
    .container {
        max-width: 2705px !important;
    }
}

@media (max-width: 1300px) {
    .navi_link>ul {
        flex-direction: column;
        align-items: center;
    }
    img[alt="cart"] {
        rotate: 90deg;
    }
}

/* Utilities */
.btn {
    padding: 10px;
    box-sizing: border-box;
    min-width: 138px;
    min-height: 50px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.btn:hover {
    background-color: whitesmoke;
    border: 2px solid var(--DARK);
}

.btn-1 {
    text-decoration: underline;
    color: var(--GREY);
}

.btn-2 {
    color: var(--LIGHT);
}

.btn-3 {
    border: 2px solid var(--LIGHT);
}

.gradient-bg {
    background: linear-gradient(#083F9B, #7F56D9);
}


.gradient-bg-footer {
    background-image: linear-gradient(to left top, #477AE3, #931BBD);
    }
    
.radial-blur {
    width: 800px;
    height: 550px;
    border-radius: 100%;
    background-color: var(--LIGHT);
    position: sticky;
    top: 250px;
    right: 200px;
    z-index: 0;
}

.image_section {
    width: 750px;  
    height: 750px;
    border-radius: 25px;
    background-image: url('./assets/Ellipse.png');
    justify-content:center;
    background-size: contain;
    background-repeat: no-repeat;
}

.search-input {
    width: 500px;
    height: 70px;
    padding: 10px 10px 10px 20px;
    box-sizing: border-box;
    background-color: var(--LIGHT);
    border-radius: 10px;
}

/* Header section */
.header-container {
    width: 100%;
    height: var(--HEADER-HEIGHT);
    background: var(--LIGHT);
}
/* Hero section */
.hero-section {
    height: calc(100vh - var(--HEADER-HEIGHT));

    .content {
        justify-content: center;
        color: var(--LIGHT);
        p {
            text-transform: uppercase;
        }
        h1 {
            span {
                color: var(--BLUE);
            }
        }
    }
    .image {
        position: relative;
        width: 100%;
        background-image: url('./assets/women.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        z-index: 1;
    }
}

/* Podcast container */
.podcast-container {
    width: 100%;
    height: 170px;

    .brand-image {
        background-repeat: no-repeat;
        background-position: center;
    }
}

/* featured courses */
.featured-courses {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--GREEN);

    h3 {
        span {
            color: var(--BLUE);
        }
    }
}


/* products container */
.products-container {
    .products-card {
        background-color: var(--LIGHT);
        height: 560px;
        border-radius: 20px;
        font-family: "Saira", serif;
        
        img {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .content {
            padding: 50px;
        }
    }
}

/*Learning */

.Learning{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--GREEN);

    h3 {
        span {
            color: var(--BLUE);

        }
    }
}

/** Top categories **/


.Top-category {
    .top-card {
        background-color: var(--LIGHT);
        height: 350px;
        border-radius: 20px;
        font-family: "Righteous", serif;
        
        img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .content {
            padding: 50px
        }
    }
}
/* global.css */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #000;
}

.footer-container {
    margin-top: 0%;
    background: linear-gradient(210deg, rgba(71, 122, 227, 1) 0%, rgba(147, 27, 189, 0.85) 100%);
    .white_Cricle {
        width: 45px;
        height: 45px;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
        align-content: center;
        justify-items: center;
    }
}

.testcenter {
    width: 550px;
    height: 200px;
    box-shadow: 0 3.5px 4px #00000025;
    position: relative;
    top: -10%;
    left: -13%;
    background-color: white;
}
img[alt="person"] {
    justify-self: center;
    position: relative;
    top: -25%;
}